//settings
$font-main-family: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;
$fontIcon: "icomoon";

:root {
    
    --White: #fff;
    --Primary: #161326;
    --YellowGreen : #C0FAA0;
    --Orchid : #C388F7;
    --Khaki : #ECFF79;
    --LightSkyBlue : #AFC0FF;
    --Black : #161326;
    --GrayDark : #6D6D6D;
    --Gray : #A4A4A9;
    --Gainsboro : #F8F8F8;
    --Salmon : #FD7972;
    --LightGray : #D2DDDC;
    --Orange : #24293E;
    --LimeGreen : #24293E;
    --Green : #2BC155;

}